.login-form h1 {
    text-align: center;
}

.login-form {
    border: 1px solid black;
    width: 30%;
    height: 10em;
    text-align: center;
    background-color: aliceblue;
    display: grid;
    place-content: center;
}

#submitBtn {
    position: relative;
    top: 20px;
    padding:5px 15px; 
    background:rgb(195, 218, 224);
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}