table.ticketDetails {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    border: 2px solid #FFFFFF;
    background-color: #EEEEEE;
    width: 100%;
    height: 200px;
    text-align: center;
    border-collapse: collapse;
  }
  table.ticketDetails td, table.ticketDetails th {
    border: 1px solid #FFFFFF;
    padding: 3px 5px;
  }
  table.ticketDetails tbody td {
    font-size: 14px;
  }
  table.ticketDetails td:nth-child(even) {
    background: #EBEBEB;
  }
  table.ticketDetails thead {
    background: #FFFFFF;
    border-bottom: 4px solid #333333;
  }
  table.ticketDetails thead th {
    font-size: 15px;
    font-weight: bold;
    color: #333333;
    text-align: center;
    border-left: 2px solid #333333;
  }
  table.ticketDetails thead th:first-child {
    border-left: none;
  }
  
  table.ticketDetails tfoot td {
    font-size: 14px;
  }
